Nominal/OHE-endoding

In [27]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [28]:
df=pd.DataFrame({'color':['red','yellow','green','red', 'yellow']})
df

    color
0     red
1  yellow
2   green
3     red
4  yellow

In [29]:
# Performing fit and transform
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['color']]).toarray()

In [30]:
encoded_df=pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [31]:
encoded_df

   color_green  color_red  color_yellow
0          0.0        1.0           0.0
1          0.0        0.0           1.0
2          1.0        0.0           0.0
3          0.0        1.0           0.0
4          0.0        0.0           1.0