In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df=pd.read_csv('Cerebral Stroke Prediction-Imbalanced Dataset.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [5]:
df['stroke'].value_counts(),df['stroke'].value_counts(normalize=True)# this gives the proportion

(stroke
 0    42617
 1      783
 Name: count, dtype: int64,
 stroke
 0    0.981959
 1    0.018041
 Name: proportion, dtype: float64)

UNBALANCED

In [6]:
# Splitting the majority and minority
df_major=df[df['stroke']==0]
df_minior=df[df['stroke']==1]

In [7]:
# Upsample the minority to match the majority
from sklearn.utils import resample

df_minority_up=resample(
    df_minior,
    replace=True,               #sample with replacement
    n_samples=len(df_major),    # matching majority count
    random_state=42
)
# Combining
df_up=pd.concat([df_major, df_minority_up]).reset_index(drop=True)
df_up

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
85229,12482,Male,68.0,0,0,Yes,Self-employed,Urban,77.82,27.5,smokes,1
85230,39377,Male,41.0,0,0,Yes,Self-employed,Urban,159.30,34.6,never smoked,1
85231,36397,Male,66.0,0,0,Yes,Private,Urban,106.47,29.8,smokes,1
85232,11970,Female,75.0,0,0,Yes,Private,Rural,92.84,24.6,formerly smoked,1
85233,50328,Female,63.0,0,0,Yes,Self-employed,Rural,64.43,29.7,smokes,1

In [8]:
df_up['stroke'].value_counts(), df_up['stroke'].value_counts()

(stroke
 0    42617
 1    42617
 Name: count, dtype: int64,
 stroke
 0    42617
 1    42617
 Name: count, dtype: int64)

HENCE BALANCED

In [9]:
df_up.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0

In [10]:
df_up.tail(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
85224,44235,Male,71.0,0,1,Yes,Self-employed,Rural,241.77,30.2,never smoked,1
85225,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
85226,30668,Male,58.0,0,0,Yes,Private,Rural,110.41,36.7,formerly smoked,1
85227,34548,Male,62.0,0,0,Yes,Self-employed,Urban,66.11,NaN,formerly smoked,1
85228,26727,Female,79.0,0,0,No,Private,Rural,88.92,22.9,never smoked,1
85229,12482,Male,68.0,0,0,Yes,Self-employed,Urban,77.82,27.5,smokes,1
85230,39377,Male,41.0,0,0,Yes,Self-employed,Urban,159.30,34.6,never smoked,1
85231,36397,Male,66.0,0,0,Yes,Private,Urban,106.47,29.8,smokes,1
85232,11970,Female,75.0,0,0,Yes,Private,Rural,92.84,24.6,formerly smoked,1
85233,50328,Female,63.0,0,0,Yes,Self-employed,Rural,64.43,29.7,smokes,1

DOWNSAMPLING METHOD

In [ ]:
# # Downsampling
# df_major_down = resample(
#     df_major,
#     replace=False,
#     n_samples=len(df_minor),
#     random_state=42
# )

# df_down = pd.concat([df_major_down, df_minor]).reset_index(drop=True)